<%- include ('../../partials/header.ejs') %>

<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <div class="card mt-5">
        <div class="card-header ">
            <h2>Create your user</h2>
        </div>
        <div class="card-body ">
            <form action="/users/create" method="POST">
                <input class="form-control mb-2" type="email" name="email" placeholder="type here your email">
                <input class="form-control mb-2" type="password" name="password" placeholder="********">
                <button type="submit" class="btn btn-success btn-block" >Create</button> 
            </form>
            
        </div>

    </div>
</div>



<%- include ('../../partials/footer.ejs') %>